
variables{
  --primary-color: #32157c;
  --primary-light-color: #7e70e7;
  --color-accent: #b060d9;
  --color-light-accent: #d6acec;
}

.App {
  text-align: center;
  background-color: var(--primary-color);
  position:fixed;
  height: 100%;
}

.suggest-row{
  height: 50%;
  width: 100%;
  display: inline-flex;
}

.song-row{
  height: 50%;
  width: 100%;
  display: inline-flex;
}
