
variables{
  --primary-color: #32157c;
  --primary-light-color: #7e70e7;
  --color-accent: #b060d9;
  --color-light-accent: #d6acec;
}

.App {
  text-align: center;
  background-color: var(--primary-color);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
}
